<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/css/main.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link href="/css/yummly.css" rel="stylesheet"/>-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/js/jquery.fileupload.js"></script>
</head>
<body>
    <div id="content">
        <div id="navigation">
            <table>
                <tbody>
                <tr>
                    <td class="logo-wrap">
                        <a href="/" id="logo">
                            <img height="32" src="http://fastly-static.yummly.com/yummly-website/80e54082e96d2ca95127c3fda6125e15f2d63a52/img/yummly.png" width="88">
                        </a>
                        <span id="menu-logo" class="ninja-menu">
                            <div class="ninja-arrow-down"></div>
                        </span>
                    </td>
                    <td class="y-flex">
                        <div id="menu-browse" class="ninja-menu">
                            <span class="nav-size browse">导航</span>
                            <div class="ninja-arrow-down"></div></div>
                    </td>
                    <td class="login-state">
                        <!--<form method="get" action="/login">-->
                            <button class="yummly-login-sheet btn-oauth" data-toggle="modal" data-target="#Regist">创建新账号</button>
                        <button class="yummly-login-sheet btn-oauth" data-toggle="modal" data-target="#Login">登陆</button>
                            <!--<input type="hidden" name="button" value="login">-->
                        <!--</form>-->
                    </td>
                    <td><a href="#" class="panel-right-toggle" id="button-filters"><span class="y-icon">&amp;</span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="testArea">
            <fieldset>
                <legend>用户api</legend>
                <ul id="uList"></ul>
                <button id="getAllUsers">获取所有用户(无需登录)</button>
                <button id="getAllFollowers">获取所有粉丝(必须登录)</button>
                <button id="getAllFollowings">获取所有关注对象(必须登录)</button>
                <button id="getDetail">获取基本信息(必须登录)</button>
            </fieldset>

            <fieldset>
                <legend>图文api</legend>
                <form method="post" enctype="multipart/form-data" action='/photo/upload'>
                    <input id="fileupload" type="file" name="files[]" multiple/>
                    <button id="upload" type='submit'>上传</button>
                </form>

            </fieldset>

            <fieldset>
                <legend>文章</legend>
                <ul id="aList"></ul>
                <button id="getLatestArticles">获取最新的文章</button>
            </fieldset>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="LoginLabel">登陆</h4>
                    </div>
                    <form action="/user.signIn" method="post">
                    <div class="modal-body">
                       <label>用户名：</label> <input name="loginname"/>
                        <label>密码：</label> <input name="pass"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                        <button  type="submit" class="btn btn-primary">登陆</button>
                    </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Modal -->
        <div class="modal fade" id="Regist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="RegistLabel">登陆</h4>
                    </div>
                    <form action="/user.register" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">用户名</label>
                                <input type="text" class="form-control" id="loginname" name="loginname" placeholder="输入用户名...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">邮箱</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="输入你的邮箱地址...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">密码</label>
                                <input type="password" class="form-control" name="pass" id="exampleInputPassword1" placeholder="输入密码...">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                            <button  type="submit" class="btn btn-primary">注册</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
    <script>
        String.prototype.format = function(args) {
            var result = this;
            if (arguments.length > 0) {
                if (arguments.length == 1 && typeof (args) == "object") {
                    for (var key in args) {
                        if(args[key]!=undefined){
                            var reg = new RegExp("({" + key + "})", "g");
                            result = result.replace(reg, args[key]);
                        }
                    }
                }
                else {
                    for (var i = 0; i < arguments.length; i++) {
                        if (arguments[i] != undefined) {

                            var reg= new RegExp("({)" + i + "(})", "g");
                            result = result.replace(reg, arguments[i]);
                        }
                    }
                }
            }
            return result;
        }

        $(document).ready(function(){

            var post_data = {
                uName:'user23',
                pwd:123
            };

            $.ajaxSetup({cache:false});

            function bindGuanzhu(){
                $('.gz').on("click", function(){
                    //  event.preventDefault();
                    var uid = $(this).closest('li').find('a').attr('uid');
                    //  console.log(uid);
                    var data = {UID:uid};

                    var value = $(this).text();



                    if(value == '关注'){
                        $.ajax({
                            url:"http://localhost:3000/user.follow",
                            type:"POST",
                            data:data,
                            dataType:"json",
                            success:function(data){
                                //  alert('sdf');
                                location.href = location.href;
                            }
                        })
                    }else{
                        $.ajax({
                            url:"http://localhost:3000/user.unfollow",
                            type:"POST",
                            data:data,
                            dataType:"json",
                            success:function(data){
                                //   alert('as');
                                location.href = location.href;
                            }
                        })
                    }

                })
            }

            function getAll(){
                LI = '<li><a href="{0}" uid="{0}">{1}</a><button class="gz">{2}</button><button class="getDetailInfo">获取详细信息</button></li>';
                $.ajax({
                    url:"http://localhost:3000/user/getAll",
                    type:"GET",
                    success:function(data){
                        data = data.data;
                        var str = "";
                        var guanzhu = "关注";
                        data.forEach(function(doc,i){
                            var user = {};
                            console.log(doc);
                            if(typeof(doc) === 'undefined'){
                                guanzhu = "关注";
                                user = doc;
                            }else{
                                if(doc.following){
                                    guanzhu = "取消关注"
                                }else{
                                    guanzhu = "关注";
                                }
                                 user = doc;
                            }

                            str +=  LI.format(user._id, user.nickname,guanzhu);
                        })

                        $("#uList").html(str);

                        bindGuanzhu();

                        $('.getDetailInfo').on("click", function(){
                            var uid = $(this).closest('li').find('a').attr('uid');
                            //  console.log(uid);

                            var str = '';
                            LI = '<li>{0}:&nbsp;&nbsp;{1}</li>'
                            $.ajax({
                                url: "http://localhost:3000/user.detail?UID="+uid,
                                type: "get",
                                success:function(data){

                                    if(data && data.status == 'failure'){
                                        alert('必须先登录!');
                                        return;
                                    }else{
                                        data = data.data;
                                    }

                                    for(var key in data[0]){
                                        str +=  LI.format(key, data[0][key]);
                                    }

                                    data.forEach(function(user, i){
                                        var s = '';
                                        for(var key in user){
                                            s += LI.format(key, user[key]);
                                        }
                                        str = '<li><ul>' + s + '</ul></li>';
                                    })

                                    $("#uList").html(str);
                                }
                            })
                        })

                    }
                })
            }

            var LI = '<li><a href="{0}" uid="{0}">{1}</a><button class="gz">{2}</button><button class="getDetailInfo">获取详细信息</button></li>';

            var request = $.ajax({
                url: "http://localhost:3000/user.signIn",
                type: "POST",
                data: post_data,
                dataType: "json",
                success:function(data){
                   getAll();
                }
            });

            $("#getAllFollowers").click(function(){
                LI = '<li><a href="{0}" uid="{0}">{1}</a><button class="gz">{2}</button><button class="getDetailInfo">获取详细信息</button></li>';
                var str = '';
                $.ajax({
                    url: "http://localhost:3000/user/getFollowers",
                    type: "get",
                    success:function(data){
                        if(data && data.status == 'failure'){
                            alert('必须先登录!');
                            return;
                        }else{
                            data = data.data;
                        }

                        data.forEach(function(doc,i){
                            if(doc.following){
                                guanzhu = "取消关注"
                            }else{
                                guanzhu = "关注";
                            }
                            var user = doc;
                            str +=  LI.format(user._id, user.nickname,guanzhu);
                        })

                        $("#uList").html(str);
                        bindGuanzhu();
                    },
                    error:function(d){
                        console.log(d);
                    }
                })
            })

            $("#getAllFollowings").click(function(){
                LI = '<li><a href="{0}" uid="{0}">{1}</a><button class="gz">{2}</button><button class="getDetailInfo">获取详细信息</button></li>';
                var str = '';
                $.ajax({
                    url: "http://localhost:3000/user/getFollowings",
                    type: "get",
                    success:function(data){

                        if(data && data.status == 'failure'){
                            alert('必须先登录!');
                            return;
                        }else{
                            data = data.data;
                        }

                        data.forEach(function(user,i){
                            str +=  LI.format(user._id, user.nickname,'取消关注');
                        })

                        $("#uList").html(str);
                        bindGuanzhu();
                    }
                })
            })

            $("#getAllUsers").click(function(){
                getAll();
            })

            $("#getDetail").click(function(){
                var str = '';
                LI = '<li>{0}:&nbsp;&nbsp;{1}</li>'
                $.ajax({
                    url: "http://localhost:3000/user.detail",
                    type: "get",
                    success:function(data){

                        if(data && data.status == 'failure'){
                            alert('必须先登录!');
                            return;
                        }else{
                            data = data.data;
                        }

                        for(var key in data[0]){
                            str +=  LI.format(key, data[0][key]);
                        }

                        data.forEach(function(user, i){
                            var s = '';
                            for(var key in user){
                                s += LI.format(key, user[key]);
                            }
                            str = '<li><ul>' + s + '</ul></li>';
                        })

                        $("#uList").html(str);
                    }
                })
            })

            function upload(){
                var input1 = $("#fileupload");
                var url = '/photo/upload';
                input1.fileupload({
                    url: url,
                    dataType: 'json',
                    done: function (e, data) {

                        if(data.result.status === 'success' && data.result.url) {
                            var url = data.result.url;
                            if(typeof(url) === 'string')
                                input.value = url;
                            else{
                                var str = '';
                                url.forEach(function(doc,i){
                                    if(i!=0)
                                        str+=',';
                                    str += doc.toString();
                                })
                                input.value = str;
                            }
                        }
                        else
                            alert('上传失败');
                    }
                });
            }

            $("#upload").click(function(e){
                //e.preventDefault();
                //upload();
            })

            $("#getLatestArticles").click(function(){
                $.ajax({
                    url: "http://localhost:3000/post/latest",
                    type: "GET",
                    dataType: "json",
                    success:function(data){

                     //  console.log(data.user);
                    }
                })
            })
        })
    </script>

    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>